
*{
    font-family: "Raleway", sans-serif;

}

body {
    background-image: url(/assets/images/woman-code.png);
    color: black;
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    height: 100vh; 
    margin: 0; 
}


header {

    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgb(14, 42, 54)), 
        url(assets/images/banner.png); 
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.logo {
    margin-top: 100px;
}

h1 {

    background: linear-gradient(to right, #1472B7, #33A8DB); 
    -webkit-background-clip: text;
    color: transparent;
    font-size: 60px;
}

p {
    
    width: 1100px;
    height: 50px;


    color: #ffffff;
    letter-spacing: 1px ;
    font-size: 20px;

}

button {

    font-size: 25px;
    background: linear-gradient(90deg, #33A8DB, #1472B7);
    -webkit-background-clip: text;
    color: transparent;
    border: 2px solid #33A8DB;
    padding: 30px 70px;
    cursor: pointer;
    margin-bottom: 100px;

}

#course-content {

    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 

}

h2 {
    margin-top: 100px;
    font-family: "Raleway", sans-serif;
    background: linear-gradient(to right, #1472B7, #33A8DB); 
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    word-spacing: 5px;
}

.module {
    font-family: "Raleway", sans-serif;
    
    width: 535px;
    height: 51px;
    border-radius: 57px;
    background-color: #252525;
    color: #ffffff;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;

    border: 2px solid #1472B7;

}

span {

    font-family: "Raleway", sans-serif;
    color: #33A8DB ;

}

#transform-world {

    height: 300px;


}

#transform-world p {

    width: 244px;
    height: 110px;


    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 900; 

    display: flex;
    flex-direction: column;
    justify-content:start;


}

#professional-challenges {

    background-color: #000000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding-bottom: 50px ;

}

#professional-challenges p {

    font-size: 15px;

}


footer {
    padding-top: 50px ;
    background: linear-gradient(to bottom, #000000, #051c2c); /* Gradiente da esquerda para a direita */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}


